body {
    background-color: lightblue;
    font-family: arial;
}

.title {
    font-weight: bold;
}

hr {
    border: 5px solid darkblue;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    border: 2px solid darkblue;
    background-color: lightgrey;
}

select {
    border-radius: 5px;
    background-color: lightgrey;
}

input:focus {
    border: black;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5px;
    text-align: left;
}

tr:hover{
    background-color: blue;
    color: white;
}
tr:hover a{
    color: white;
}

.table-hover {
/*    max-width: 900px; */
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: darkblue;
    color: white;
}

.table-hover a {
    color:white;
}

.vote {
    padding: 5px;
}

.vote input {
    color: black;
}

.votes {
    font-weight: bold;
}

