<div class='paper'>
  {% if showsub %}
  {{ paper.subber.firstname }}
  {% if paper.volunteer.firstname is defined %}
  &#8594;&nbsp;{{ paper.volunteer.firstname }}
  {% endif %}<br>
  {% endif %}
  <span class='title'>{{ paper.title }}</span><br>
  {{ paper.authors }}<br>
  <a href='{{ paper.link }}'>{{ paper.link }}</a><br>
  {{ paper.abstract }}<br>
  {% if showsub %}{% if paper.comment %}{% set comment = paper.comment.split('\n') %}
  <span class='comment'><span style='font-weight: bold;'>Comments:</span>{% for i in comment  %}{{ i }}<br>{% endfor %}</span>
  {% endif %}{% endif %}
  {% if showvote %}
  <span class='votes'>{{ paper.score_n }}/{{ paper.score_d }} votes.
  </span>
  {% endif %}
{% if not extras %}</div>{% endif %}
