<div class='table table-hover'>
  <tr>
    <td width='70px'>
      {% if showsub %}
	<a href="{{ url_for('main.user', username=paper.subber.username) }}">
	  {{ paper.subber.firstname }}
	</a>
	{% if paper.volunteer.firstname is defined %}
	  &#8594;&nbsp;
	  <a href="{{ url_for('main.user', username=paper.volunteer.username) }}">
	    {{ paper.volunteer.firstname }}
	  </a>
	{% elif paper.vol_later.firstname is defined %}
	  &#8594;&nbsp;
	  <a href="{{ url_for('main.user', username=paper.vol_later.username) }}">
	    {{ paper.vol_later.firstname }} (later)
	  </a>
	{% endif %}<br>
	
      {% endif %}
    </td>
    <td>
      <span class='title'>{{ paper.title }}</span><br>
      {{ paper.authors }}<br>
      <a href='{{ paper.link }}' target='_blank'>{{ paper.link }}</a><br>
      {{ paper.abstract|replace('\\\\', '\\') }}<br>
      {% if showsub %}{% if paper.comment %}{% set comment = paper.comment.split('\n') %}
	<div class='comment'><span style='font-weight: bold;'>Comments:<br>
	  </span>{% for i in comment  %}{{ i }}<br>{% endfor %}</div>
	{% endif %}{% endif %}
	{% if showvote %}
	  <span class='votes'>
	    {{ paper.score_n }}/{{ paper.score_d }} votes.
	  </span>
	{% endif %}
    </td>
  </tr>
</table>
{% if not extras %}</div>{% endif %}
