{% extends 'base.html' %}

{% block content %}

Next presenter: <br>
Topic: <br>
<hr>
Announcements: <br>
Schedule: <br>
New: <br>
<hr>
Directory/Scoreboard:<br>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Hotpoints</th>
    <th>Sumpoints</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><a href="{{ url_for('main.user', username=user.username) }}">{{ user.firstname }}</a></th>
    <td>{{ user.email }}</th>
    <td>{{ user.hotpoints() }}</th>
    <td>{{ user.sumpoints() }}</th>
  </tr>
  {% endfor %}
</table>
{% endblock %}
