{% extends 'base.html' %}

{% block content %}
<h1>Submit Paper</h1>
<form action='' method='post'>
  {{ form.hidden_tag() }}

  {% macro errors(source) -%}
  {% for error in source %}
  <span style='color: red;'>[{{ error }}]</span>
  {% endfor %}
  {%- endmacro %}

  <p>
    Automatically handles arXiv links.
    Otherwise, <a href='{{ url_for('main.submit_m') }}'>submit manually.</a>
  </p>
  <p>
    {{ form.link.label }}<br>
    {{ form.link(size=64) }}<br>
    {{ errors(form.link.errors) }}
  </p>
  <p>
    {{ form.volunteering.label }}
    {{ form.volunteering(size=64) }}<br>
  </p>
  <p>
    {{ form.comments.label }}<br>
    {{ form.comments(size=64) }}<br>
    {% for error in form.comments.errors %}
    <span style='color: red;'>[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.submit() }}
  </p>
</form>
<br><hr><br>
{% for paper in papers %}
{% include 'main/_paper.html' %}
{% endfor %}

{% endblock %}
