{% extends 'base.html' %}

{% block app_content %}
<h1>Submit Paper Manually</h1>
<form action='' method='post'>
  {{ form.hidden_tag() }}

  {% macro errors(source) -%}
  {% for error in source %}
  <span style='color: red;'>[{{ error }}]</span>
  {% endfor %}
  {%- endmacro %}

  {% set list = [form.title, form.link, form.authors] %}
  {% for field in list %}

  {{ field.label }}<br>
  {{ field(size=64) }}<br>
  {{ errors(field.errors) }}
  {% endfor %}

  {{ form.abstract.label }}<br>
  {{ form.abstract(size=64, style='height: 200px;') }}<br>
  {{ errors(form.abstract.errors) }}

  {{ form.volunteering.label }}
  {{ form.volunteering }}<br>
  <br>
  {{ form.submit() }}
</form>
<br><hr><br>
{% for paper in papers %}
{% include 'main/_paper.html' %}
{% endfor %}

{% endblock %}
