{% extends 'base.html' %}

{% block app_content %}
<h1>{{ user.firstname }} {{ user.lastname }}</h1>
{{ user.email }}<br><br>
Hot points: {{ user.hp }}<br>
Sum points: {{ user.sumpoints() }}<br>
{% if user.username == current_user.username %}
<hr>
<h4>Change Password</h4>
<form action='' method='post'>
  {{ form.hidden_tag() }}

  {% macro field_(field) -%}
  {{ field.label }}&nbsp;&nbsp;&nbsp;&nbsp;
  {% for error in field.errors %}
  <span style='color:red;'>{{ error }}</span>
  {% endfor %}<br>
  {{ field(size=32) }}<br>
  {%- endmacro %}

  {{ field_(form.current_pass) }}
  {{ field_(form.new_pass) }}
  {{ field_(form.new_pass2) }}

  {{ form.submit() }}
</form>
<h4>Change Email</h4>
<form action='' method='post'>
  {{ form2.hidden_tag() }}

  {{ field_(form2.new_email) }}
  {{ field_(form2.new_email2) }}

  {{ form2.submit() }}
</form>
{% endif %}
<hr>
<h3>My recent submissions:</h3>
{% for paper in subs %}
{% include '/main/_paper.html' %}<br>
{% endfor %}

{% endblock %}
